.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 45px;
    .content {
        position: relative;
        display: flex;
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 100%;
    }
}

