.home {
    position: relative;
    display: flex;
    gap: 45px;
    min-width: 100%;
    .content {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .content {
        width: 100%;
    }
}

