@import '../variables.scss';

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
}