.documents-holder {
    position: relative;
    flex-direction: column;
    font-size: 8px;
    line-height: 28px;
    width: 100%;
    .links {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .downloads {
        display: flex;
        justify-content: flex-start;
        align-items: center ;
        gap: 10px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}