.talent-card {
    position: relative;
    display: flex;
    background-color: #242526;
    padding: 34px 45px;
    border-radius: 10px;
    transition: transform 0.1s ease;
    &:hover {
        transform: scale(1.02);
    }
    .talent-img {
        width: 80px;
        height: 80px;
        margin-right: 25px;
    }
    .name {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 14px;
        font-weight: 700;
        img {
            width: 15px;
            height: 15px;
        }
    }
    .location-wrapper {
        display: flex;
        font-size: 7px;
        img {
            width: 10px;
            height: 10px;
        }
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .job {
        p {
            display: inline;
        }
        font-size: 10px;
        font-weight: bold;
        .company {
            font-weight: normal;
        } 
    }
    .access-info {
        display: flex;
        gap: 15px;
    }
    .marked {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}

@media screen and (max-width: 800px) {
    .talent-card {
        padding: 10px;
    }
}