.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 48px 22px 26px;
    background: #000;
    .burger-menu {
        display: none;
        width: 25px;
        height: 25px;        
    }
    .menu {
        display: flex;
        align-items: center;
    }
    .select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 67px;
        padding: 5px 9px;
        margin-left: 28px;
        border: 0.5px solid #fff;
        border-radius: 5px;
        .profile-img {
            border-radius: 50%;
        }
    }
}

@media screen and (max-width: 800px) {
    .nav-bar {
        padding: 10px 0;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar {
        position: fixed;
        left: 2.5%;
        top: 0;
        width: 95%;
        z-index: 100;
        .burger-menu {
            display: block;
        }
    }
}