.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10.4%;
    .create-button {
        margin-left: 13px;
        margin-bottom: 36px;
        width: 98px;
    }
    .items {
        .button {
            justify-content: flex-start;
            gap: 9px;
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .about {
        position: relative;
        flex-direction: column;
        font-size: 8px;
        line-height: 28px;
        width: 100%;

    }
    .links {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .downloads {
        display: flex;
        justify-content: flex-start;
        align-items: center ;
        gap: 10px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}