@import '../variables.scss';
.side-bar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    background-color: #000;
    transition: all 0.3s ease;
    .create-btn {
        margin-left: 13px;
        margin-bottom: 36px;
        width: 98px;
    }
    .items {
        .button {
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 600px) {
    .side-bar {
        position: fixed;
        top: 50px;
        padding: 20px 10px;
        height: 105vh;
        z-index: 100;
    }
}