.talents-list {
    display: flex;
    flex-direction: column;
    padding: 21px 32px;
    width: 40%;
    border: #242526 solid 1px;
    border-radius: 8px;
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
}