.talents-list {
    display: flex;
    flex-direction: column;
    padding: 21px 32px;
    width: 58%;
    border: #242526 solid 1px;
    border-radius: 8px;
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .talents-list {
        width: 100%; 
    }
}
@media screen and (max-width: 800px) {
    .talents-list {
        padding: 0;
    }
}